<div class="container-fluid">
  <div class="row">
    <form (ngSubmit)="submitQuote()" #quoteForm="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          [(ngModel)]="newQuoteName"
        />
      </div>
      <div class="form-group">
        <label for="description">Quote</label>
        <input
          type="text"
          name="quote"
          class="form-control"
          d="exempleFormControlInput1"
          [(ngModel)]="newQuoteDescription"
        />
      </div>
      <div class="form-group">
        <label for="author">Author</label>
        <input
          type="text"
          name="author"
          class="form-control"
          id="exempleFormControlInput1"
          [(ngModel)]="newQuoteAuthor"
        />
      </div>
      <button type="submit" class="btn btn-primary btn-lg">Add Quote</button>
    </form>
  </div>
</div>
