<h1>My Quotes</h1>
<div class="container">
  <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
  <ul>
    <div *ngFor="let quote of quotes; let i = index">
      <li>{{ quote.name }}</li>
      <button (click)="toogleDetails(i)">Toogle Details</button>
      <app-quote-details
        *ngIf="quote.showDescription"
        [quote]="quote"
        (isComplete)="deleteQuote($event, i)"
      ></app-quote-details>
      <li>
        {{ quote.name }} due on {{ quote.completeDate | date | uppercase }}
      </li>
    </div>
  </ul>
  <!-- <div class="row"> -->
  <!-- <h4 id="{{ i }}" appStrikethrough></h4> -->
  <!-- {{ quote.completeDate | date | uppercase }} -->
  <button class="btn btn danger" (click)="(toogleDetails)">
    Toogle Details
  </button>
  <!-- </div> -->

  <!-- <div class="row" *ngIf="quote.showDescription"> -->

  <!-- </div> -->
</div>
<!-- -->
<!-- (isComplete)="deleteQuote($event, i)" -->
